<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>


<div style="padding:20px;margin-top:30px;height:1500px;" align="middle">
<h1>Airfoil application</h1>
<img src="/static/airfoil.jpg" border="5" align="middle" WIDTH=400 HEIGHT=250>
<form action="." method = "Post">
Start angle: <input type="text" name="s_angle" value="0"><br>
Stop angle:  <input type="text" name="e_angle" value="30"><br>
Num angles:   <input type="text" name="n_angle" value="10"><br>
Num nodes:    <input type="text" name="n_nodes" value="200"><br>
Num levels:   <input type="text" name="n_levels" value="3"><br>
<input type="submit"  value="Calculate">
</form>





</body>
</html>
